
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Single View for Import</h1>

<f:flashMessages />
<h2><f:render partial="Import/Properties" arguments="{import:import}" /></h2>
<f:link.action action="list">Back to list</f:link.action><br />
<h2>Preview</h2>
<table id="import-data">
    <thead>
       <tr>
         <f:for each="{csvHeader}" as="header">
             <th class="inputColumns">{header}</th>
         </f:for>
       </tr>
     </thead>
     <tbody>
    <f:for each="{csvArray}" as="csvData" iteration="i">
        <tr>
          <f:for each="{csvData}" as="value" iteration="j">
              <td class="inputFields" data-csv-field="{csvHeader.{j.index}}">{value}</td>
          </f:for>
        </tr>
    </f:for>
    </tbody>
</table>

<h2>Import - Choose table and select the columns to import to</h2>
<table id="mapping">
    <thead>
        <tr>
          <th>Import from table</th>
          <th>Import to table</th>
       </tr>
       <tr>
          <th>{import.file.originalResource.name}</th>
          <th>
            <f:form.select id="table" name="table" options="{allowedTables}"/>
         </th>
       </tr>
     </thead>
     <tbody>
        <f:for each="{csvHeader}" as="input" iteration="i"> 
            <tr>
                <td>
                    <f:form.select class="inputs" name="inputs" options="{csvHeader}" value="{i.index}"/>
                </td>
                <td>
                    <f:form.select class="columns" name="columns" options="{fe_users_columns}" value="{i.index}"/>
                </td>
            </tr>
        </f:for>
    </tbody>
</table>

<f:form.button id="importButton" type="submit" name="buttonName">IMPORT!!!</f:form.button>

<script>
    $('#table').change(function(){
        var selected = $('#table option:selected').text();
        $('#mapping > body').fadeTo(1000, 0.5);
        $.ajax({
            url: TYPO3.settings.ajaxUrls['unique_identifier'],
            method: 'POST',
            dataType: 'json',
            data: {table: $('#table option:selected').text()},
            success: function(res) {
                $('.columns').html('html');
                var i=0;
                res.forEach(function(column) {
                    $('.columns').append($('<option>', { value: column, text: column }));
                    $('.columns')[i].value = column;
                    i++;
                });
                $('#mapping > tbody').fadeTo(1000, 1);
            }
        });
    });


    $('#importButton').click(function(){
        var importData = [];
        $('#import-data tbody tr').each(function() {
            var $tr = $(this);
            var data = {};
            $('#mapping tr').each(function() {
                var csvField = $(this).find('.inputs option:selected').text();
                var databaseField = $(this).find('.columns option:selected').text();
                if (databaseField && csvField) {
                    var csvValue = $tr.find('td[data-csv-field=' + csvField + ']').text();
                    data[databaseField] = csvValue;
                }
            });
            importData.push(data);
        });

        $.ajax({
            url: TYPO3.settings.ajaxUrls['import_file'],
            method: 'POST',
            dataType: 'json',
            data: {importData: importData,table: $('#table option:selected').text()},
            success: function(res,error) {
                console.log('Succeess: ' + res);
                console.log('Error: ' + error);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    });
</script>
</f:section>