
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Upload.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Upload</h1>

<table>
    <f:for each="{csvArray}" as="csvData" iteration="i">
        <f:if condition="{i.index}==0">
            <f:then>
                <thead>
                   <tr>
                    <f:form.select name="Delimeter" options="{
                        ',': 'Comma (,)'}",
                        ';': 'Semi-colon (;)'
                    />
                    <f:form.select name="Enclosure" options="{
                        '\"': 'Citation (\")',
                        ' ': 'Space ( )'}"
                    />
                     <f:for each="{csvData}" as="fields">
                         <th>{fields}</th>
                     </f:for>
                   </tr>
                 </thead>
                 <tbody>
            </f:then>
            <f:else>
                <tr>
                  <f:for each="{csvData}" as="fields">
                      <td>{fields}</td>
                  </f:for>
                </tr>
            </f:else>
        </f:if>
    </f:for>
    </tbody>
</table>
<f:flashMessages />
</f:section>