{namespace h=Pixelant\Importify\ViewHelpers}
<label for="file">
	<f:translate key="tx_importify_domain_model_import.file" /> <span class="required">(required)</span>
</label><br />
    <h:form.upload property="file" >
    </h:form.upload><br />
<label for="delimeter">
	<f:translate key="tx_importify_domain_model_import.delimeter" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="delimeter" /><br />
<label for="enclosure">
	<f:translate key="tx_importify_domain_model_import.enclosure" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="enclosure" /><br />